{%extends 'base.html'%}
{%load static%}

{%block title%} B Com Finance {%endblock%}


{%block main_block%}
<!-- Detail Start -->
<div class="container-fluid ">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">
                    <h6 class="text-primary mb-3">UG Program</h6>
                    <h1 class="mb-5">B Com Finance</h1>

                    <div class="row">



                        <div class="col-lg-6"><img class="img-fluid rounded w-100 mb-4"
                                src="{%static 'images/courses/bcom-finance.jpg'%}" alt="Image"></div>

                        <div class="col-lg-6">
                            <p class="text-dark">BCom Finance is an undergraduate degree course spanning 3 to 4 academic years. This course incorporates the fundamental information and knowledge of a traditional BCom 
                                along with specialised subjects that deal with Finance, Banking and Investments.</p>

                            <p class="text-dark">focuses on the areas of accounting and financial analysis. With this unique blend, the programme enables students to propel their careers as 
                                wealth creators and managers both in corporate and merchant banking domains.provides students with a strong foundation in financial concepts and practices, particularly as they relate to the banking industry. 
                                Students pursuing BCom will be able to work in a variety of sectors and roles such as Accountant Manager, Finance Manager, Project Manager, Account Executive, Financial Adviser, Executive Assistant, Chartered Accountant.
                            </p>
                        </div>

                    </div>
                    <h2 class="mb-4">Eligibility</h2>
                    <!-- <img class="img-fluid rounded w-25 float-left mr-4 mb-3" src="{%static 'images/courses/bsc_cover.png'%}" alt="Image"> -->
                    <p class="text-dark ">Complete 10+2 or equivalent exam from a recognized board with a minimum aggregate of 50% marks 
                        The minimum marks required may vary from college to college  </p>

                    <h6 class="text-danger"><a href="https://www.keralauniversity.ac.in/downloads/BCOM1529481731.pdf"
                            class="text-danger"><i class="fa-solid fa-book"></i> Syllabus : 2021 Syllabus</a></h6>

                    <h6 class="text-dark"><a href="" class="text-dark"><img width="15" height="18" src="https://img.icons8.com/ios-filled/50/department.png" alt="department"/> Department : Commerce Department</a></h6>

                    <h6 class="text-dark"><a href="" class="text-dark"><img width="18" height="18" src="https://img.icons8.com/ios-filled/50/student-female.png" alt="student-female"/> Admission :	Link to Admission</a></h6>
                </div>

                <!-- Comment List -->
                <!-- <div class="mb-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">3 Comments</h3>
                    <div class="media mb-4">
                        <img src="img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                            style="width: 45px;">
                        <div class="media-body">
                            <h6>John Doe <small><i>01 Jan 2045 at 12:00pm</i></small></h6>
                            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at.
                                Kasd diam tempor rebum magna dolores sed sed eirmod ipsum. Gubergren clita aliquyam
                                consetetur sadipscing, at tempor amet ipsum diam tempor consetetur at sit.</p>
                            <button class="btn btn-sm btn-secondary">Reply</button>
                        </div>
                    </div>
                    <div class="media mb-4">
                        <img src="img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                            style="width: 45px;">
                        <div class="media-body">
                            <h6>John Doe <small><i>01 Jan 2045 at 12:00pm</i></small></h6>
                            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at.
                                Kasd diam tempor rebum magna dolores sed sed eirmod ipsum. Gubergren clita aliquyam
                                consetetur sadipscing, at tempor amet ipsum diam tempor consetetur at sit.</p>
                            <button class="btn btn-sm btn-secondary">Reply</button>
                            <div class="media mt-4">
                                <img src="img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                                    style="width: 45px;">
                                <div class="media-body">
                                    <h6>John Doe <small><i>01 Jan 2045 at 12:00pm</i></small></h6>
                                    <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum
                                        et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.
                                        Gubergren clita aliquyam consetetur, at tempor amet ipsum diam tempor at
                                        sit.</p>
                                    <button class="btn btn-sm btn-secondary">Reply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- Comment Form -->
                <!-- <div class="bg-secondary rounded p-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h3>
                    <form>
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" class="form-control border-0" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control border-0" id="email">
                        </div>
                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="url" class="form-control border-0" id="website">
                        </div>

                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea id="message" cols="30" rows="5" class="form-control border-0"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" value="Leave Comment"
                                class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">
                        </div>
                    </form>
                </div> -->
            </div>

        </div>
    </div>
</div>
<!-- Detail End -->

{%endblock%}