{%extends 'base.html'%}
{%load static%}

{%block title%} BSc Computer Science {%endblock%}


{%block main_block%}
<!-- Detail Start -->
<div class="container-fluid ">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">
                    <h6 class="text-primary mb-3">UG Program</h6>
                    <h1 class="mb-5">BSc Computer Science</h1>

                    <div class="row">

                        <div class="col-lg-6"><img class="img-fluid rounded w-100 mb-4"
                                src="{%static 'images/courses/bsc.png'%}" alt="Image"></div>

                        <div class="col-lg-6">
                            <p class="text-dark">BSc Computer Science is a 3-year undergraduate degree course that pays
                                attention to computer
                                networking, operating systems, and programming languages. This program is mainly aimed
                                at
                                developing qualified professionals and research fellows who can use computer technology
                                to
                                operate in any industry in the world.</p>
                            <p class="text-dark">The First Degree Programme in Computer Science is designed with the
                                objective of equipping the
                                students to cope with the emerging trends and challenges in field of computers and
                                interrelated
                                disciplines
                                like computer engineering, computer science, information systems, information
                                technology,
                                and
                                software
                                engineering.
                            </p>
                        </div>

                    </div>
                    <h2 class="mb-4">Eligibility</h2>
                    <!-- <img class="img-fluid rounded w-25 float-left mr-4 mb-3" src="{%static 'images/courses/bsc_cover.png'%}" alt="Image"> -->
                    <p class="text-dark ">A pass in Higher Secondary (Science stream) or any other examination recognized as equivalent there to by the University of Kerala with Computer Science /Computer Applications/ Mathematics as one of the optional subjects.</p>

                    <h6 class="text-danger"><a href="https://www.keralauniversity.ac.in/downloads/8b1627031794.pdf"
                            class="text-danger"><i class="fa-solid fa-book"></i> Syllabus : 2021 Syllabus</a></h6>

                    <h6 class="text-dark"><a href="" class="text-dark"><img width="15" height="18" src="https://img.icons8.com/ios-filled/50/department.png" alt="department"/> Department : Computer Science Department</a></h6>

                    <h6 class="text-dark"><a href="" class="text-dark"><img width="18" height="18" src="https://img.icons8.com/ios-filled/50/student-female.png" alt="student-female"/> Admission :	Link to Admission</a></h6>
                </div>

                <!-- Comment List -->
                <!-- <div class="mb-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">3 Comments</h3>
                    <div class="media mb-4">
                        <img src="img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                            style="width: 45px;">
                        <div class="media-body">
                            <h6>John Doe <small><i>01 Jan 2045 at 12:00pm</i></small></h6>
                            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at.
                                Kasd diam tempor rebum magna dolores sed sed eirmod ipsum. Gubergren clita aliquyam
                                consetetur sadipscing, at tempor amet ipsum diam tempor consetetur at sit.</p>
                            <button class="btn btn-sm btn-secondary">Reply</button>
                        </div>
                    </div>
                    <div class="media mb-4">
                        <img src="img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                            style="width: 45px;">
                        <div class="media-body">
                            <h6>John Doe <small><i>01 Jan 2045 at 12:00pm</i></small></h6>
                            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at.
                                Kasd diam tempor rebum magna dolores sed sed eirmod ipsum. Gubergren clita aliquyam
                                consetetur sadipscing, at tempor amet ipsum diam tempor consetetur at sit.</p>
                            <button class="btn btn-sm btn-secondary">Reply</button>
                            <div class="media mt-4">
                                <img src="img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                                    style="width: 45px;">
                                <div class="media-body">
                                    <h6>John Doe <small><i>01 Jan 2045 at 12:00pm</i></small></h6>
                                    <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum
                                        et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.
                                        Gubergren clita aliquyam consetetur, at tempor amet ipsum diam tempor at
                                        sit.</p>
                                    <button class="btn btn-sm btn-secondary">Reply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- Comment Form -->
                <!-- <div class="bg-secondary rounded p-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h3>
                    <form>
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" class="form-control border-0" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control border-0" id="email">
                        </div>
                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="url" class="form-control border-0" id="website">
                        </div>

                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea id="message" cols="30" rows="5" class="form-control border-0"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" value="Leave Comment"
                                class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">
                        </div>
                    </form>
                </div> -->
            </div>

        </div>
    </div>
</div>
<!-- Detail End -->

<!-- client section start -->
<div class="client_section layout_padding" style="background-color: #111111; padding-bottom: 50px;">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <div class="container">
            <h1 class="client_taital text-center text-white" style="padding-top: 50px;">
              <p>College Toppers</p>
            </h1>
            <div class="row align-items-center">
              <!-- Image Column -->
              <div class="col-md-4 col-12 text-center">
                <img
                src="{%static 'images/courses/nishad.png'%}"
                class="client_img img-fluid rounded"
                style="max-width: 15rem;"
                  alt="Image of Nishad"
                  >
                </div>
                <!-- Text Column -->
                <div class="col-md-8 col-12 text-center text-md-start" style="padding-top: 20px;">
                  <h1 class="client_name text-white">Nishad</h1>
                  <h5 class="client_text text-white">BSc Computer Science (2021 Batch)</h5>
                  <p>● Class Coordinator : Dr Manu Rajan Nair</p>
                </div>
              </div>
            </div>
          </div>
        
          <div class="carousel-item ">
            <div class="container">
              <h1 class="client_taital text-center text-white" style="padding-top: 50px;">
                <p>College Toppers</p>
              </h1>
              <div class="row align-items-center">
                <!-- Image Column -->
                <div class="col-md-4 col-12 text-center">
                  <img
                    src="{%static 'images/courses/nishad.png'%}"
                    class="client_img img-fluid rounded"
                    style="max-width: 15rem;"
                    alt="Image of Nishad"
                  >
                </div>
                <!-- Text Column -->
                <div class="col-md-8 col-12 text-center text-md-start" style="padding-top: 20px;">
                  <h1 class="client_name text-white">Diya DJ</h1>
                  <h5 class="client_text text-white">BSc Computer Science (2020 Batch)</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel Controls -->
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
    <span class="carousel-control-custom">
      <i class="fa fa-angle-left"></i>
    </span>
  </a>
  <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
    <span class="carousel-control-custom">
      <i class="fa fa-angle-right"></i>
    </span>
  </a>
  <style>
    .carousel-control-prev,
    .carousel-control-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: auto;
    }
  
    .carousel-control-prev {
      left: 10%;
      top: 60%;
    }
  
    .carousel-control-next {
      right: 10%;
      top: 60%;
    }
  
    .carousel-control-custom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: white;
      border-radius: 50%;
      color: black;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  
    .carousel-control-prev:hover .carousel-control-custom,
    .carousel-control-next:hover .carousel-control-custom {
      background-color: yellow;
      color: black;
    }
  
    .carousel-control-custom i {
      font-size: 20px;
    }
  </style>
    
    </div>
  </div>
  <!-- client section end -->
  

{%endblock%}