{% extends 'base.html' %}

{% load static %}

{% block title %} Clubs {% endblock %}

{% block main_block %}
<!-- Clubs Section Start -->
<div class="achievements_section py-5">
    <div class="container">
        <h2 class=" text-center mb-5">Clubs at Our College</h2>

        <div class="row gy-4">

                <div class="col-lg-6 order-1 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static 'img/football.jpg' %}" class="img-fluid rounded shadow" alt="Football Club Image"
                         style="max-width: 100%; height: auto;">
                </div>

                <div class="col-lg-6 order-2 order-lg-2 content aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="achievement_details">
                        <h3 style="color: #007bff; font-weight: bold;" class="mt-lg-0 mt-3">Football Club</h3>
                        <p style="color: #555; line-height: 1.8;">
                            The UIT Karuvatta Football Club is a vibrant student-led group that promotes the love of football. It welcomes players of all skill levels, from beginners to experts. The club organizes regular training sessions and participates in various inter-college tournaments. It fosters teamwork, discipline, and sportsmanship among members.
                        </p>
                        <ul style="color: #555; list-style-type: disc; padding-left: 20px;">
                            <li><strong class="">Club Coordinator</strong>: Mr. Ratheesh</li>
                        </ul>
                    </div>
                </div>

        </div>

        <div class="row gy-4 mt-5">

                <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static 'img/cricket3.jpg' %}" class="img-fluid rounded shadow" alt="Football Club Image"
                         style="max-width: 100%; height: auto;">
                </div>

                <div class="col-lg-6 order-2 order-lg-1 content aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="achievement_details">
                        <h3 style="color: #007bff; font-weight: bold;" class="mt-lg-0 mt-3">Cricket Club</h3>
                        <p style="color: #555; line-height: 1.8;">
                            The UIT Karuvatta Football Club is a vibrant student-led group that promotes the love of football. It welcomes players of all skill levels, from beginners to experts. The club organizes regular training sessions and participates in various inter-college tournaments. It fosters teamwork, discipline, and sportsmanship among members.
                        </p>
                        <ul style="color: #555; list-style-type: disc; padding-left: 20px;">
                            <li><strong class="">Club Coordinator</strong>: Mr. Ratheesh</li>
                        </ul>
                    </div>
                </div>

        </div>
        <div class="row gy-4 mt-5">

                <div class="col-lg-6 order-1 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static 'img/badminton2.jpg' %}" class="img-fluid rounded shadow" alt="Football Club Image"
                         style="max-width: 100%; height: auto;">
                </div>

                <div class="col-lg-6 order-2 order-lg-1 content aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="achievement_details">
                        <h3 style="color: #007bff; font-weight: bold;" class="mt-lg-0 mt-3">Badminton Club</h3>
                        <p style="color: #555; line-height: 1.8;">
                            The UIT Karuvatta Football Club is a vibrant student-led group that promotes the love of football. It welcomes players of all skill levels, from beginners to experts. The club organizes regular training sessions and participates in various inter-college tournaments. It fosters teamwork, discipline, and sportsmanship among members.
                        </p>
                        <ul style="color: #555; list-style-type: disc; padding-left: 20px;">
                            <li><strong class="">Club Coordinator</strong>: Mr. Ratheesh</li>
                        </ul>
                    </div>
                </div>

        </div>
        <div class="row gy-4 mt-5">

            <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <img src="{% static 'img/literary.png' %}" class="img-fluid rounded shadow" alt="Football Club Image"
                     style="max-width: 100%; height: auto;">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="achievement_details">
                    <h3 style="color: #007bff; font-weight: bold;" class="mt-lg-0 mt-3">Literary Club</h3>
                    <p style="color: #555; line-height: 1.8;">
                        The Literary Club at UIT College serves as a platform for students passionate about literature, writing, and public speaking. It nurtures creativity and enhances communication skills through activities like debates, poetry recitals, storytelling, and creative writing workshops. The club provides opportunities for students to express themselves and develop their literary talents.
                    </p>
                    <ul style="color: #555; list-style-type: disc; padding-left: 20px;">
                        <li><strong class="">Club Coordinator</strong>: Mr. Ratheesh</li>
                    </ul>
                </div>
            </div>

    </div>


    </div>
</div>
<!-- Clubs Section End -->
{% endblock %}
